<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>HouseBooking Register Form</h2>
  <form action="#" th:action=@{/saveHouseBooking} th:object="${housebooking}" method="post">
    <div class="form-group">
     <input type="text" class="form-control" placeholder="enter username" th:field="*{userName}"/>
    </div>
    <div class="form-group">
      <input type="password" class="form-control" placeholder="enter password"  th:field="*{password}"/>
    </div>
    <div class="form-group">
     <input type="email" class="form-control" placeholder="enter email"  th:field="*{email}"/>
    </div>
    <div class="form-group">
     <input type="number" class="form-control" placeholder="enter mobileNo"  th:field="*{mobileNo}"/> 
    </div>
    <div class="form-group">
     <input type="text" class="form-control" placeholder="enter address"  th:field="*{address}"/>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="enter buName"  th:field="*{buName}"/>
    </div>
    <div class="form-group">
     <input type="text" class="form-control" placeholder="enter device"  th:field="*{device}"/>
    </div>
    <div class="form-group">
    <label>Gender</label>
      Male&nbsp<input type="radio"  value="Male"  th:field="*{gender}"> 
     Female&nbsp<input type="radio"  value="Female"  th:field="*{gender}">
     Other&nbsp<input type="radio"  value="other"  th:field="*{gender}">
    </div>
   
    <button type="submit" class="btn btn-default">Register</button>
  </form>
</div>

</body>
</html>